<div class="panel panel-default" id="press">
    <div class="row">
        <div class="col-md-12">
            <h3 class="section-heading">Press</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3 class="section-subheading text-muted">Squeek Lights has already received coverage in many industry publications for our designs.  Below are a selection of stories.</h3>
        </div>
        <div class="col-md-8">
            <div class="list-group text-center">
                <a href="http://www.plsn.com/main-news/18469-squeek-lights-creates-two-shows-from-one-chauvet-rig-for-senses-fail-and-silverstein.html" target="_blank" class="list-group-item">Squeek Lights Creates Two Shows from One Chauvet Rig for Senses Fail and Silverstein</a>
                <a href="https://www.youtube.com/watch?v=OtSMI2-iQCM" target="_blank" class="list-group-item">On the Road with Squeek Lights</a>
                <a href="http://www.plsn.com/news/16724-they-might-be-giants-ld-victor-zeiser-chooses-chauvet-professional-gear.html" target="_blank" class="list-group-item">They Might Be Giants LD Victor Zeiser Chooses Chauvet Professional Gear</a>
                <a href="http://www.chauvetprofessional.com/squeek-lights-gets-creative-with-chauvet-professional-on-the-wonder-years-tour/" target="_blank" class="list-group-item">Squeek Lights Gets Creative With CHAUVET Professional On The Wonder Years Tour</a>
                <a href="http://www.lsionline.co.uk/news/story/The-Psychedelic-Furs-go-Rogue-on-the-fly/X786DN" target="_blank" class="list-group-item">The Psychedelic Furs Go Rogue On The Fly With Squeek Lights And Chauvet</a>
                <a href="http://livedesignonline.com/briefing-room/squeek-lights-goes-rogue-chauvet-professional-silverstein-tour" target="_blank" class="list-group-item">Squeek Lights Goes Rogue With Chauvet Professional On Silverstein Tour</a>
                <a href="http://www.chauvetprofessional.com/news/expect-the-unexpected-lighting-club-tours-with-victor-zeiser/" target="_blank" class="list-group-item">Expect The Unexpected: Lighting Club Tours With Victor Zeiser</a>
            </div>
        </div>
    </div>
</div>