<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <h3 class="section-subheading text-muted">Arena-quality lighting for any size venue.</h3>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Full Lighting Service</h4>
                <p class="text-muted">We will carefully craft a lighting package that best compliments your music and production needs, cue it, and then bring it on tour with you. We adapt the show to fit each venue, integrating the house lighting rig into the design, which creates a unified look.</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Self Contained Packages</h4>
                <p class="text-muted">Dream of no longer having to trust your light show to house guys, but can’t afford to bring an LD with you? If you have the backing tracks or have the ability to send midi triggers, we can build an easy to setup floor package with cues carefully crafted to your music.</p>
            </div>

            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-sliders fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Lighting Design</h4>
                <p class="text-muted">Victor also offers design work independent of lighting rentals. View his design portfolio at <a href="http://www.victorzeiser.com">VictorZeiser.com</a>.</p>
            </div>
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Lighting Sales</h4>
                <p class="text-muted"> In addition to rig rentals, Squeek Lights is a full-service Chauvet retailer. Let our road experience help guide you to the best lights to fit your creative and budgetary needs.</p>
            </div>
        </div>
    </div>
</section>