<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Squeek Lights</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/victor-zeiser.jpg" class="img-responsive img-circle" alt="">
                </div>
            </div>
            <div class="col-sm-4">
                <h4>Founder: Victor Zeiser</h4>
                <p class="text-muted">
                    Victor has over 8 years of concert and event lighting experience, and has worked tours for bands such as They Might Be Giants, Grouplove, Manchester Orchestra, The Kooks and The Horrors. Victor decided to start Squeek Lights after dealing with the lack of lighting rental options that worked within some of his client's budgets. As the owner of Squeek Lights, Victor is committed to providing great musicians with technical, emotion-driven lighting that enhance the concert experience. Contact Victor directly at <a href="mailto:victor@squeeklights.com">victor@squeeklights.com</a> for more details on rental packages and light design services.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/ben.jpg" class="img-responsive img-circle" alt="">
                </div>
            </div>
            <div class="col-sm-4">
                <h4>Partner: Ben Jarrett</h4>
                <p class="text-muted">
                    Ben has a firm background in the EDM concert touring market as a lighting director. He hopes to establish Squeek Lights as the place where experienced and up and coming DJ’s turn to for reasonably priced and aesthetically stunning lighting packages.  Ben and Victor have been partners in crime together since working together in their high school theater, so it only made sense for that to continue.  Ben has toured with: Minus the Bear,  Bro Safari,  Mad Decent Block Party.  Ben can be reached at <a href="mailto:ben@squeeklights.com">Ben@SqueekLights.com</a>.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="img/steve.jpg" class="img-responsive img-circle" alt="">
                </div>
            </div>
            <div class="col-sm-4">
                <h4>Partner: Steve Kosiba</h4>
                <p class="text-muted">
                    Steve joins Squeek Lights after five years with Starlite Productions, where he was head of the automated lighting department.  Steve has the nuts and bolts experience as well as the logistical ability to keep all of Squeek Lights gear running at 100%, as well as extensive experience providing training and support to clients.  Steve can be contacted at <a href="mailto:steve@squeeklights.com">Steve@SqueekLights.com</a>.
                </p>
            </div>
        </div>
    </div>
</section>