<section id="tours" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Tours</h2>
                <h3 class="section-subheading text-muted">Bands we've worked with.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 portfolio-item">
                <img src="img/bands/senses_fail.jpg" class="img-responsive" alt="">
                <div class="portfolio-caption">
                    <h4>Senses Fail &amp; Silverstein</h4>
                    <p class="text-muted">Senses Fail &amp; Silverstein Co-Headlining Tour Fall 2015</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 portfolio-item">
                <img src="img/bands/thefurs_live.jpg" class="img-responsive" alt="">
                <div class="portfolio-caption">
                    <h4>The Psychedelic Furs</h4>
                    <p class="text-muted">Summer 2015</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 portfolio-item">
                <img src="img/bands/the_wonder_years.jpg" class="img-responsive" alt="">
                <div class="portfolio-caption">
                    <h4>The Wonder Years</h4>
                    <p class="text-muted">No Closer To Home Tour</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 portfolio-item">
                <img src="img/bands/tmbg_live.jpg" class="img-responsive" alt="">
                <div class="portfolio-caption">
                    <h4>They Might Be Giants</h4>
                    <p class="text-muted">Glean 2015 Tour</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 portfolio-item">
                <img src="img/bands/silverstein-live.jpg" class="img-responsive" alt="">
                <div class="portfolio-caption">
                    <h4>Silverstein</h4>
                    <p class="text-muted">Discovering the Waterfront 10 Year Anniversary Tour</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 portfolio-item">
                <img src="img/bands/manchester_orchestra_live.jpg" class="img-responsive" alt="">
                <div class="portfolio-caption">
                    <h4>Manchester Orchestra</h4>
                    <p class="text-muted">Spring 2014 Tour</p>
                </div>
            </div>
        </div>
        {% include "press.html" %}
    </div>
</section>